.cart-container {
	min-width: 350px;
	margin-right: 10px;
	background-color: $soft-bg;
	border: 1px solid $border-color;
	padding: 20px 10px;

	@include onSmall {
		width: 100%;
		min-width: 0;
		margin-bottom: 20px;
	}

	th {
		font-size: 24px;
		padding-bottom: 20px;
	}

	tfoot {
		td {
			padding-top: 20px;
			font-weight: bold;
		}
	}

	#total {
		text-align: right;
	}
}

#cart {
	td {
		padding-bottom: 10px;
	}

	input {
		display: inline-block;
		width: 30px;
		text-align: center;
	}

	h6 {
		width: 100%;
		font-size: 16px;
		padding-left: 20px;
		white-space: nowrap;
		text-overflow: ellipsis;

		@include onSmall {
			padding-left: 5px;
			white-space: normal;
		}
	}

	output {
		display: block;
		padding-right: 10px;
		white-space: nowrap;
	}
}